@page "/fetchdata"
@using CSharpSharedData;
@using Telerik.Blazor.Components
@using Telerik.Blazor;

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<TelerikGrid Data=@forecasts Groupable="true">
    <GridColumns>
        <GridColumn Field=@nameof(WeatherForecast.LastRendered) Groupable="false" />
        <GridColumn Field=@nameof(WeatherForecast.Date) Groupable="false" />
        <GridColumn Field=@nameof(WeatherForecast.TemperatureC) Groupable="false" />
        <GridColumn Field=@nameof(WeatherForecast.TemperatureF) Groupable="false" />
        <GridColumn Field=@nameof(WeatherForecast.Summary) Title="Summary">
            <GroupFooterTemplate>
                Forecasts in summary: @context.Count
            </GroupFooterTemplate>
        </GridColumn>
    </GridColumns>
    <GridAggregates>
        <GridAggregate Field=@nameof(WeatherForecast.Summary) Aggregate="@GridAggregateType.Count" />
    </GridAggregates>
</TelerikGrid>


