@page "/fetchdata"
@inject HttpClient Http
@using CSharpSharedData
@using C1.Blazor.Grid
@using C1.Blazor.Core

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<C1Button Click="OnGroupSummary">Group by Summary</C1Button>

<FlexGrid @ref="grid" ItemsSource="@forecasts" AutoGenerateColumns="false" DefaultColumnWidth="GridLength.Star" Style="@("height:80vh")">
    <FlexGridColumns>
        <GridColumn Binding=@nameof(WeatherForecast.Date)/>
        <GridColumn Binding=@nameof(WeatherForecast.TemperatureC) />
        <GridColumn Binding=@nameof(WeatherForecast.TemperatureF) />
        <GridColumn Binding=@nameof(WeatherForecast.Summary) />
    </FlexGridColumns>
</FlexGrid>