@page "/fetchdata"
@using CSharpSharedData
@using Dnet.Blazor.Components.Grid.BlgGrid
@using Dnet.Blazor.Components.Grid.Infrastructure.Entities
@using Dnet.Blazor.Components.Grid.Infrastructure.Enums

<PageTitle>Weather forecast</PageTitle>

<div class="container-fluid" style="padding-top: 10px;">
    <div class="row" style="height: calc(100% - 40px)">
        <div class="col-12" style="height: calc(100% - 0px);">
            <div class="dnet-panel-header-wrapper dnet-m-t-15">
                <div class="dnet-panel-header-text">
                    <div class="dnet-m-l-15">
                        <span style="font-weight:700; font-size:.875rem;"> Grid (A.K.A BlGrid)</span>
                    </div>
                </div>
            </div>
            <div style="height: 800px; width: 100%; background-color: #FFFFFF">
                <BlgGrid @ref="_blGridReference"
                         GridData="@forecasts"
                         GridColumns="@_gridColumns"
                         GroupGridColumn="@_groupGridColumn"
                         TItem="WeatherForecast"
                         GridOptions="@_gridOptions">
                </BlgGrid>
            </div>
        </div>
    </div>
</div>
